<%- include('../partials/header') %>

<form class="d-flex justify-content-center h-100 mb-3" action="/tickers" method="GET">
  <input class="form-control me-2" type="text" name="symbol" placeholder="Search by Ticker, separate with a comma - Ex:  SOFI, AAPL, GOOGL">
  <button class="btn btn-primary" id="search-button" type="submit">
    <i class="fa fa-search"></i>
  </button>
</form>
<table class="table-bordered container-xxl" id="results">
  <thead>
    <th scope="col">Ticker:</th>
    <th scope="col">Co. Name:</th>
    <th scope="col">Listing Exchange:</th>
    <th scope="col">Price:</th>
    <th scope="col">52 Wk High:</th>
    <th scope="col">52 Wk Low:</th>
    <th scope="col">Day Change in Price:</th>
    <th scope="col">Volume Traded:</th>
    <th scope="col">Add Outlook Below</th>
  </thead>
  <tbody>
    <% if (tickerData) { %>
      <% tickerData.forEach(function(t) { %> 
    <tr class="table-secondary">
      <th class="result-font" scope="row"><%= t.ticker %></th>
      <td class="result-font"><%= t.name %></td>
      <td class="result-font"><%= t.exchange_short %></td>
      <td class="result-font"><%= t.price %></td>
      <td class="result-font"><%= t['52_week_high'] %></td>
      <td class="result-font"><%= t['52_week_low'] %></td>
      <td class="result-font"><%= t.day_change %></td>
      <td class="result-font"><%= t.volume %></td>
      <td class="result-font">
        <button class="btn btn-secondary btn-rounded btn-sm" id="outlook-btn">
          <a href="/tickers/<%= t.ticker%>" class="result-font">Share Your Thoughts!</a>
        </button>
      </td>
    </tr>
    <% }); %>
    <% } %>
  </tbody>
</table>



  <%- include('../partials/footer') %>