<%- include('../partials/header') %>

<form class="d-flex" action="/tickers" method="GET">
    <input class="form-control me-2" type="text" name="symbol" placeholder="Search a Company Ticker">
    <button class="btn btn-primary" type="submit">Search</button>
</form>
<table>
  <thead>
    <tr>
      <th>Ticker:</th>
      <th>Co. Name:</th>
      <th>Listing Exchange:</th>
      <th>Price:</th>
      <th>52 Wk High:</th>
      <th>52 Wk Low:</th>
      <th>Day Change in Price:</th>
      <th>Volume Traded:</th>
    </tr>
  </thead>
  <tbody>
    <% if (tickerData) { %>
      <% tickerData.forEach(function(t) { %> 
    <tr>
          <td><%= t.ticker %></td>
          <td><%= t.name %></td>
          <td><%= t.exchange_short %></td>
          <td><%= t.price %></td>
          <td><%= t['52_week_high'] %></td>
          <td><%= t['52_week_low'] %></td>
          <td><%= t.day_change %></td>
          <td><%= t.volume %></td>
        </tr>
        <a href="/tickers/<%= t.ticker%>">Share What You See!</a>
        <% }); %>
      <% } %>
      </tbody>
    </table>


  <%- include('../partials/footer') %>