<%- include('../partials/header') %>

    <h1>Latest Data:</h1>
    <!-- will reference more data here, but this is from my API for live data.  -->
    <div>
        <%= ticker.ticker %>
    </div>
    <div>
        <%= ticker.name %>
    </div>
    <div>
        <%= ticker.exchange %>
    </div>
    <div>
        <%= ticker.price %>
    </div>
    <div>
        <%= ticker.dayChange %>
    </div>
    <div>
        <%= ticker.yearHigh %>
    </div>
    <div>
        <%= ticker.yearLow %>
    </div>
    <div>
        <%= ticker.volume %>
    </div>
    <form action="/tickers/<%= ticker._id %>/outlooks" method="POST">
        <label>Position</label>
        <select name="position">
            <option value="Long">Long</option>
            <option value="Short">Short</option>
        </select>
        <label>Timeframe</label>
        <select name="timeframe">
            <option value="Weeks">Weeks</option>
            <option value="Months">Months</option>
            <option value="years">Years</option>
        </select>
        <label>strategy</label>
        <textarea name="strategy" cols="30" rows="10" placeholder="Please include data at time of outlook to refer back to. "></textarea>
        <input type="submit" value="Add Outlook">
    </form>

    <% if (ticker.outlooks.length) { %>
        <table>
            <thead>
                <tr>
                    <th>User: </th>
                    <th>Position:</th>
                    <th>Timeframe:</th>
                    <th>Strategy:</th>
                    <th>Date made:</th>
                </tr>
            </thead>
            <tbody>
                <% ticker.outlooks.forEach(function(o) { %>
                    <tr>
                        <td class="review-user"><img alt="avatar" src="<%= o.userAvatar %>" referrerpolicy="no-referrer"><%= o.userName %></td>
                        <td><%= o.position %></td>
                        <td><%= o.timeframe %></td>
                        <td><%= o.strategy %></td>
                        <td><%= o.createdAt.toLocaleDateString() %></td>
                        <td>
                            <% if (user?._id.equals(o.user)) { %>
                                <form action="/outlooks/<%= o._id %>?_method=DELETE" method="POST">
                                    <button type="submit">Remove</button>
                                </form>
                                <!-- <form action="/outlooks/<%= o._id %>?_method=PUT" method="POST">
                                    <button type="submit">Edit Outlook</button>
                                </form> -->

                            <% } %>
                        </td>
                    </tr>

                <% }) %>
            </tbody>
        </table>
    <% } else { %>
        <h5>No Outlooks made, be the first!</h5>
    <% } %>


    <%- include('../partials/footer') %>