<%- include('../partials/header') %>
<h2>Updated Daily Data: </h2>
<table class="table-bordered table-responsive-sm" id="results">
    <thead>
      <th scope="col">Ticker:</th>
      <th scope="col">Co. Name:</th>
      <th scope="col">Listing Exchange:</th>
      <th scope="col">Price:</th>
      <th scope="col">52 Wk High:</th>
      <th scope="col">52 Wk Low:</th>
      <th scope="col">Day Change in Price:</th>
      <th scope="col">Volume Traded:</th>
    </thead>
    <tbody>
      <tr class="table-secondary">
        <th class="result-font" scope="row"><%= ticker.ticker %></th>
        <td class="result-font"><%= ticker.name %></td>
        <td class="result-font"><%= ticker.exchange %></td>
        <td class="result-font"><%= ticker.price %></td>
        <td class="result-font"><%= ticker.yearHigh %></td>
        <td class="result-font"><%= ticker.yearLow %></td>
        <td class="result-font"><%= ticker.dayChange %></td>
        <td class="result-font"><%= ticker.volume %></td>
      </tr>
    </tbody>
</table>

<form action="/tickers/<%= ticker._id %>/outlooks" method="POST">
        <div class="form-outline container-xxl justify-content-between mb-1" id="strategy-form">
            <textarea class="form-control mb-2" name="strategy" rows="5" placeholder="Share your outlook below!"></textarea>
            <label>Position</label>
            <select class="select" name="position">
                <option value="Long">Long</option>
                <option value="Short">Short</option>
            </select>
            <label>Timeframe</label>
            <select class="select" name="timeframe">
                <option value="Weeks">Weeks</option>
                <option value="Months">Months</option>
                <option value="years">Years</option>
            </select><br>
            <button class="btn btn-secondary btn-rounded btn-sm mt-2" id="outlook-btn">
                <input type="submit" value="Add Outlook" class="result-font" id="outlook-submit">
            </button>
        </div>
</form>


<% if (ticker && ticker.outlooks.length) { %>
    <div class="row">
      <% ticker.outlooks.forEach(function(o, i) { %>
        <div class="col-md-6">
          <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-2">
                <img src="<%= o.userAvatar %>" class="img-fluid rounded-start" alt="...">
                <p><%= o.userName %></p>
              </div>
              <div class="col-md-10">
                <div class="card-body">
                  <p class="card-text">Position: <%= o.position %></p>
                  <p class="card-text">TimeFrame: <%= o.timeframe %></p>
                  <p class="card-text">Outlook: <%= o.strategy %></p>
                  <p class="card-text"><small class="text-muted"><%= o.createdAt.toLocaleDateString() %></small></p>
                </div>
                <% if (user?._id.equals(o.user)) { %>
                <div class="outlook-wrapper">
                  <form action="/outlooks/<%= o._id %>?_method=DELETE" method="POST">
                    <button class="btn btn-secondary btn-rounded btn-sm mt-2" id="remove-outlook" type="submit">Remove</button>
                  </form>
                  <button class="btn btn-secondary btn-rounded btn-sm mt-2" id="outlook-btn">
                    <a href="/outlooks/<%= o._id %>/edit" class="result-font">Edit</a>
                  </button>
                </div>
                <% } %>
              </div>
            </div>
          </div>
        </div>
        <% if ((i + 1) % 2 === 0) { %>
          </div><div class="row">
        <% } %>
      <% }) %>
    </div>
  <% } else { %>
    <h2>No Outlooks made, be the first!</h2>
  <% } %>


    <%- include('../partials/footer') %>