<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title><%= title %></title>
</head>
<body>
  <nav class="navbar navbar-expand-sm bg-primary navbar-dark justify-content-center">
    <a href="/"	<%- title === 'Home' ? 'class="active"' : '' %>>
      Home</a>
      <a href="/newsfeed"	<%- title === 'News' %>>
      Market News</a>
      <% if (user) { %>
      <a href="/tickers"	<%- title === 'Investing Ideas' %>>
        My Ideas</a>
      <a class="nav-link" href="/logout">Log Out <img alt="avatar" src="<%= user.avatar %>" referrerpolicy="no-referrer"><%= user.name %></a>
    <% } else { %>
      <a class="nav-link" href="/auth/google" class="login">Log In&nbsp;<img src="https://i.imgur.com/FHjYyi0.png" class="Glogo"></a>
    <% } %>
  </nav>
  <main>