<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Permanent+Marker&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/46d2bf60fb.js" crossorigin="anonymous"></script>
  <link rel="icon" type="image/x-icon" href="images/logo.png">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title><%= title %></title>
</head>
<body>
    <nav class="navbar navbar-expand-sm justify-content-between" id="navbar">
      <div class="container-xxl">
      <div class="brand">
        <h3>Market</h3>
        <img class="d-inline-block align-center" src="/images/logo.png" width:"30" height="30">
        <h3>Sense</h3>
      </div>
          <a href="/"	<%- title === 'Home' ? 'class="active"' : '' %>>
          Home</a>
          <a href="/newsfeed"	<%- title === 'News' %>>
          Market News</a>
          <% if (user) { %>
          <a href="/tickers"	<%- title === 'Investing Ideas' %>>
            My Portfolio</a>
          <div class="user-container">
            <img alt="avatar" src="<%= user.avatar %>" referrerpolicy="no-referrer" class="avatar">
            <div class="user-logout">
                <p><%= user.name %><p>
              <a class="nav-link" href="/logout">Log Out</a>
            </div>
            <% } else { %>
            <a class="nav-link" href="/auth/google" class="login">Log In&nbsp;<img src="https://i.imgur.com/FHjYyi0.png" class="Glogo"></a>
            <% } %>
        </div>
      </div>
    </nav>