<%- include('../partials/header') %>

<form action="/outlooks/<%= outlook._id %>?_method=PUT" method="POST">
    <div class="form-outline container-xxl justify-content-between mb-1" id="strategy-form">
        <textarea class="form-control mb-2" name="strategy" rows="5" placeholder="<%= outlook.strategy %>"></textarea>
        <label>Position</label>
        <select class="select" name="position" value="<%= outlook.position %>">
            <option value="Long">Long</option>
            <option value="Short">Short</option>
        </select>
        <label>Timeframe</label>
        <select class="select" name="timeframe" value="<%= outlook.timeframe %>">
            <option value="Weeks">Weeks</option>
            <option value="Months">Months</option>
            <option value="years">Years</option>
        </select><br>
        <button class="btn btn-secondary btn-rounded btn-sm mt-2" id="outlook-btn">
            <input type="submit" value="Add Outlook" class="result-font" id="outlook-submit">
        </button>
    </div>
</form>

<%- include('../partials/footer') %>