<%- include('../partials/header') %>

    <form class="d-flex" action="/newsfeed" method="GET">
        <input class="form-control me-2 mb-4" type="text" name="symbol" placeholder="Search a Company Ticker">
        <button class="btn btn-primary mb-4" id="search-button" type="submit">
            <i class="fa fa-search"></i>
        </button>
    </form>

    <% if (newsData) { %>
        <% newsData.forEach(function(n) { %>
                <div class="card mb-3 w-100">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img class="card-img-top" src="<%= n.image_url %>">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title"><%= n.title %></h5>
                          <p class="card-text"><%= n.description %></p>
                          <p class="card-text"><small class="text-muted"><%= new Date(n.published_at).toLocaleDateString() %></small></p>
                          <a href="<%= n.url %>" class="card-link">View </a>
                        </div>
                      </div>
                    </div>
                  </div>
        <% }); %>
    <% } %>

<%- include('../partials/footer') %>
