<%- include('../partials/header') %>

    <form class="d-flex" action="/newsfeed" method="GET">
        <input class="form-control me-2" type="text" name="symbol" placeholder="Search a Company Ticker">
        <button class="btn btn-primary" type="submit">Search</button>
    </form>
    <div class="card" style="width: 30rem;">
        <% if (newsData) { %>
        <% newsData.forEach(function(n) { %>
        <img src="<%= n.image_url %>" class="card-img-top"> 
        <div class="'card-body">
            <h5 class="card-title"><%= n.title %></h5>
            <p class="card-text"><%= n.description %></p>
            <a href="<%= n.url %>">Link to Article</a>
            <%= n.published_at %><br>
          <% }); %>
        <% } %>
        </div>
    </div>

<%- include('../partials/footer') %>